<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleExecutable</key>
  <string>$(EXECUTABLE_NAME)</string>
  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>$(PRODUCT_NAME)</string>
  <key>CFBundlePackageType</key>
  <string>DEXT</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>OSBundleUsageDescription</key>
  <string>Allows brltty to control refreshable braille displays attached over USB.</string>
  <key>OSMinimumDriverKitVersion</key>
  <string>25.4</string>
  <key>UserClientProperties</key>
  <dict>
    <key>IOClass</key>
    <string>IOUserUserClient</string>
    <key>IOUserClass</key>
    <string>BrlttyUSBClient</string>
  </dict>
  <key>IOKitPersonalities</key>
  <dict>
    <key>brltty-0904-6102</key>
    <dict>
      <key>CFBundleIdentifier</key>
      <string>com.brltty.usb-driver</string>
      <key>CFBundleIdentifierKernel</key>
      <string>com.apple.kpi.iokit</string>
      <key>IOClass</key>
      <string>IOUserService</string>
      <key>IOProviderClass</key>
      <string>IOUSBHostDevice</string>
      <key>IOUserClass</key>
      <string>BrlttyUSBDriver</string>
      <key>IOUserServerName</key>
      <string>com.brltty.usb-driver</string>
      <key>idVendor</key>
      <integer>2308</integer>
      <key>idProduct</key>
      <integer>24834</integer>
      <key>IOProbeScore</key>
      <integer>100000</integer>
    </dict>
  </dict>
</dict>
</plist>
